<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <script type="text/javascript" src="/statics/js/jquery/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script>
        var IMP = window.IMP; // 생략가능
        IMP.init('imp44988876');  // 부여받은 "가맹점 식별코드"를 사용

        $(document).ready(function(){
            $("#payment").on("click", function(){
                IMP.request_pay({
                    pg : 'inicis', // version 1.1.0부터 지원.
                    pay_method : 'card',
                    merchant_uid : 'merchant_' + new Date().getTime(),
                    name : '주문명:결제테스트',
                    amount : 1000,
                    buyer_email : 'ghtjday@naver.com',
                    buyer_name : '호성모',
                    buyer_tel : '010-2450-5205',
                    buyer_addr : '경기도 파주시 가온로 205',
                    buyer_postcode : '10898',
                    m_redirect_url : 'http://localhost:8888/complete'
                }, function(rsp) {
                    if ( rsp.success ) {
                        var msg = '결제가 완료되었습니다.';
                        msg += '고유ID : ' + rsp.imp_uid;
                        msg += '상점 거래ID : ' + rsp.merchant_uid;
                        msg += '결제 금액 : ' + rsp.paid_amount;
                        msg += '카드 승인번호 : ' + rsp.apply_num;
                    } else {
                        var msg = '결제에 실패하였습니다.';
                        msg += '에러내용 : ' + rsp.error_msg;
                    }
                    alert(msg);
                });
            });
        });

    </script>
</head>
<body>
    <input id="payment" type="button" value="결제버튼">
</body>
</html>